<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MhMohamed.PillUp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.MhMohamed.PillUp.AnalyticsApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.MhMohamed.PillUp.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.MhMohamed.PillUp.data.MedicationProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <receiver android:name="com.MhMohamed.PillUp.widget.MedicationWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/medication_widget_info" />
        </receiver>

        <service
            android:name="com.MhMohamed.PillUp.widget.MedicationWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>

        <activity android:name="com.MhMohamed.PillUp.ArticleDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.MhMohamed.PillUp.MainActivity" />

        </activity>
    </application>

</manifest>